<?xml version="1.0"?> 
<!-- Example launch file for multiple AR Drones -->
<launch>

<!--
	<group ns="node1">
		<include file="$(find ardrone_tutorials)/launch/autonomous.launch">
		  <arg name="broker_ip" default="192.168.1.150" />
		  <arg name="port" default="1883" />
		  <arg name="tag" value="FL" />
		</include>
    </group>
-->

<!--
	<group ns="node2">
		<include file="$(find ardrone_tutorials)/launch/autonomous.launch">
		  <arg name="broker_ip" default="192.168.1.150" />
		  <arg name="port" default="1883" />
		  <arg name="tag" value="FR" />
		</include>
    </group>
-->

  <!-- Add second drone -->
  
  <group ns="node3">
		<include file="$(find ardrone_tutorials)/launch/autonomous.launch">
		  <arg name="broker_ip" default="192.168.1.150" />
		  <arg name="port" default="1883" />
		  <arg name="tag" value="RL" />
		</include>
    </group>
  
  
<!--
	<group ns="node2">
		<include file="$(find ardrone_tutorials)/launch/autonomous.launch">
		  <arg name="broker_ip" default="192.168.1.150" />
		  <arg name="port" default="1883" />
		  <arg name="tag" value="RR" />
		</include>
    </group>
-->

	
	
</launch>

